<html>
<head>
    <%- include ('./partials/stylesheet') %>
</head>
<body>
<%- include ('./partials/navbar') %>
<h1>Ma logo</h1>
<h2><%=title%></h2>
<p> Input data: <%=msg%></p>
<p><%=txt%></p>
<img src="../assets/gratz.jpg">
<p>Click <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a>, if you wanna get your time back</p>
</body>
</html>