<html>
<head>
    <%- include ('./partials/stylesheet') %>
</head>
<body>
<%- include ('./partials/navbar') %>
<h1>Ma logo</h1>
<h2><%=title%></h2>
<p> Input data: <%=msg%>></p>
<p>The longest word: <%=txt%></p>
<img src ="../assets/longeWorde.png">
</body>
</html>